<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-lg-flex " id="navbarsExample11">
                    <a class="navbar-brand col-lg-auto" href="#">
                        <img src="{{ asset('img/logo-ecoride.webp') }}" class="logo" alt="Logo EcoRide"/>
                    </a>
                    <ul class="navbar-nav col-lg-auto justify-content-lg-center me-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Les covoiturages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <form class="d-lg-flex col-lg-auto justify-content-center">
                        <div class="me-1">
                            <input class="form-control mb-custom" type="search" placeholder="Lieu de départ" aria-label="Search">
                            <input class="form-control" type="date" placeholder="Date de départ" aria-label="date">
                        </div>
                        <div>
                            <input class="form-control mb-custom" type="search" placeholder="Lieu d'arrivée" aria-label="Search">
                            <input class="form-control" type="date" placeholder="Date d'arrivée" aria-label="date">
                        </div>
                        <div class="d-flex align-items-center ms-4 me-5">
                            <a class="btn btn-success justify-content-lg-end" href="#">Rechercher</a>
                        </div>
                    </form>
                    <div class="d-lg-flex col-lg-auto justify-content-lg-end">
                        {% if app.user %}
                            <ul class="navbar-nav">
                                {% if is_granted('ROLE_USER') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Nom d'utilisateur
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                            <li><a class="dropdown-item" href="#">Mon profil</a></li>
                                            <li><a class="dropdown-item" href="#">Mon historique</a></li>
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Admin</a>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        {% else %}
                            <a class="btn btn-success me-3" href="#">Connexion</a>
                            <a class="btn btn-success" href="#">Inscription</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>